@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}
.container {
    position: relative;
    display: block;
    margin: 0 auto;
    padding:0;
    width: 100%;
}
.wrap {
    position: relative;
    display: block;
}

.header {
    position: relative;
    display: block;
    background-color: #222;
    border-radius: 0 0 15px 15px;
}

.header .container {
    width: 1200px;
    height: 80px;
}

.logo {
    position: relative;
    width: 120px;
    line-height: 80px;
    display: block;
    float: left;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.nav {
    position: absolute;
    display: block;
    right: 100px;
}

.gnb {
    position: relative;
    display: block;
    overflow: hidden;
    width: 800px;
    height: 100%;
}

.gnb>li {
    position: relative;
    display: block;
    float: left;
    width: 25%;
}

.gnb>li>a {
    position: relative;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}

.submenu {
    position: relative;
    display: block;
    width: 100%;
}

.submenu li {
    background-color: #222;
    position: relative;
    display: none;
    text-align: center;
    line-height: 50px;
}

.submenu li a {
    position: relative;
    display: block;
    color:#fff;
    font-size: 1.7rem;
}
.submenu li:last-child {
    height: 65px;
    border-radius: 0 0 15px 15px;
}
.gnb>li:hover>a {
    color:yellowgreen;
}
.gnb>li:hover> .submenu li {
    display: block;
}
.gnb .submenu li:hover a {
    color:yellowgreen;
}
.main {
    position: relative;
    display: block;
}

.visual {
    position: relative;
    display: block;
}

.visual .container {
    position: relative;
    display: block;
}

.comm {
    position: relative;
    display: block;
}

.comm .container {
    position: relative;
    display: block;
}

.footer {
    position: relative;
    display: block;
}

.footer .container {
    position: relative;
    display: block;
}