@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
}

/* 전체 레이아웃 */
.wrap {
    position: relative;
    display: block;
    width: 100%;
}
/* 상단 */
.header {
    position:relative;
    display: block;
}
/* 메인 */
.contents {
    position:relative;
    display: block;
}
/* 하단 */
.footer {
    position:relative;
    display: block;
}