@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-family: '굴림', Arial, sans-serif;
    font-size: 1.1rem;
    color: #000;
    line-height: 1.5;
    letter-spacing: 0.58;
}

/*  2번 이상 사용된 경우라면 상단 배치 */
.container {
    
    position: relative;

    display: block;
    width: 1200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    margin: 0px auto;
}

.wrap {
    width: 100%;
}

/* 상단영역 */
.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: skyblue;
    z-index:9999;
}

.logo {
    
    display: block;

    width: 120px;
    height: 100px;
    background-color: #000;
    color: #fff;   
    
    text-align: center;
    line-height: 100px;
}

.nav {
    position: absolute;
    right: 40px;
    top: 40px;
}

.gnb {
    width:800px;
    height:50px;
    background-color: #000;
}
.gnb a:hover {
    background-color: red;
}

.gnb>li {
    display: block;
    width: 25%;
    float:left;
}

.gnb>li>a {
    display: block;
    width:100%;
    font-size: 16px;
    height:50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.submenu {
    display: block;
    width: 100%;
    background-color: #000;
}
.submenu>li {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.submenu>li>a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

/* 메인영역 */
.main {
    width: 100%;
    height: 500px;
    background-color: hotpink;
}

.slide {
    width: 100%;
    height: 300px;
    background-color: green;
}


.slide h2 {}

.community {
    width: 100%;
    height: 200px;
    background-color: blue;
}


.community h3 {}

.community>.container>section {
    /* 모든  section 에 적용할 공통사항 */
    display: block;
    position: relative;
    width: 33.33%;
    height: 200px;
    float:left;
}

.notice {
    width: 33.34 !important;
    background-color: rgba(255, 255, 255, 0.2);
}

.banner {
    background-color: rgba(255, 255, 255, 0.2);
    
}

.link {
    background-color: rgba(255, 255, 255, 0.2);

}

/* 하단영역 */
.footer {
    width: 100%;
    height: 100px;
    background-color: orange;
}

.f-left {
    position: relative;
    display: block;
    width: 150px;
    height: 100px;
    background-color: yellow;
    float: left;
}

.f-logo {
    position:relative;
    display: block;
    width: 100%;
    height: 100px;
    color:#000;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
}

.f-right {
    position:relative;
    display: block;
    width: 1050px;
    height: 100px;
    background-color: #000;
    float: left;
}

.f-menu {
    position:relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: royalblue;
}

.f-copy {
    position:relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: pink;
}